em {
  float: right;
  color:#E05C50;
  padding-left: 10px;
}

button {
  margin: 0 10px;

}

.invalid input{
  background-color: #ff7871;
}

.container {
  margin-top: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
