<div class="search-body">
  <div class="container">
    <nav>
      <div class="row">
        <img src="../../assets/logo.png" alt="Omnifood logo" class="logo">
        <ul class="search-nav">
          <li><a href="#about" class="js--scroll-to-about">About us</a></li>
          <li><a href="#partners" class="js--scroll-to-partners">Our Partners</a></li>
          <li><a href="#team" class="js--scroll-to-team">Our Team</a></li>
          <li><a href="#contact" class="js--scroll-to-contact">Contact us</a></li>
        </ul>
        <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <h1>FIND THE BEST EVENT FOR YOU</h1>
          <h3></h3>
          <hr>
          <div class="card border-primary container">
            <div class="card-body row">
              <div class="col-lg-2">
              </div>
              <form class="form-inline col-lg-10 search-form">
                <input class="form-control form-control-lg search-field" type="search" placeholder="Search events here" aria-label="Search">
                <button class="btn btn-secondary btn-large search-btn" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
